<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bruceking.settlement.mapper.CurrencyMapper">

    <select id="getAllCurrency" resultType="com.bruceking.settlement.bean.Currency">
        SELECT * FROM `excurrency`
    </select>

    <update id="updateCurrencyExById">
        UPDATE excurrency SET currency_er = #{currency_er} WHERE
            currency_id = #{currency_id}
	</update>

    <update id="updateCurrencyExByType">
        UPDATE excurrency SET currency_er = #{currency_er} WHERE
            currency_type = #{currency_type}
	</update>

</mapper>

