<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bruceking.settlement.mapper.EntityMapper">
    <select id="getEntityByEntityId" resultType="com.bruceking.settlement.bean.Entity">
        SELECT * FROM `exentity` WHERE
            entity_id = #{entity_id}
    </select>

    <select id="getPublicKey" resultType="java.lang.String">
        SELECT public_key FROM `exentity` WHERE
            entity_id = #{entity_id}
    </select>

    <select id="getPrivateKey" resultType="java.lang.String">
        SELECT private_key FROM `exentity` WHERE
            entity_id = #{entity_id}
    </select>

    <select id="getAllEntity" resultType="com.bruceking.settlement.bean.Entity">
        SELECT * FROM `exentity`
    </select>


    <insert id="updateCurrencyAmount">
        UPDATE exentity SET currency_amount = #{currency_amount} WHERE
            entity_id = #{entity_id}
	</insert>

    <insert id="updateCurrencyYesterdayStm">
        UPDATE exentity SET currency_yesterday_stm = #{currency_yesterday_stm} WHERE
            entity_id = #{entity_id}
	</insert>
</mapper>

