<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bruceking.settlement.mapper.TransactionMapper">
    <select id="getTxByEntityId" resultType="com.bruceking.settlement.bean.Transaction">
        SELECT * FROM `extransaction` WHERE
            transaction_from_entity_id = #{entity_id} OR transaction_to_entity_id = #{entity_id}
    </select>

    <select id="getTxByTime" resultType="com.bruceking.settlement.bean.Transaction">
        SELECT * FROM `extransaction` WHERE
            date(transaction_time)=#{date};
    </select>

    <insert id="insertTx">
        INSERT INTO `extransaction`(transaction_from_entity_id,transaction_from_entity_account,transaction_to_entity_id,transaction_to_entity_account,transaction_currency_amount,transaction_currency_id,transaction_time)
        VALUES(#{transaction_from_entity_id},#{transaction_from_entity_account},#{transaction_to_entity_id},#{transaction_to_entity_account},#{transaction_currency_amount},#{transaction_currency_id},#{transaction_time})
    </insert>
</mapper>

