<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>E-Wallet-ES商城</title>
    <link rel="stylesheet" href="css/index/owl.carousel.min.css">
    <!--header icon CSS -->
    <link rel="icon" href="images/index/fabicon.png">
    <!-- animations CSS -->
    <link rel="stylesheet" href="css/index/animate.min.css">
    <!-- font-awsome CSS -->
    <link rel="stylesheet" href="css/index/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/index/bootstrap.min.css">
    <!-- mobile menu CSS -->
    <link rel="stylesheet" href="css/index/slicknav.min.css">
    <!--css animation-->
    <link rel="stylesheet" href="css/index/animation.css">
    <!--css animation-->
    <link rel="stylesheet" href="css/index/material-design-iconic-font.min.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/index/style.css">
    <!-- responsive CSS -->
    <link rel="stylesheet" href="css/index/responsive.css">

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
</head>

<body class="pg">

<!--header area start-->
<div class="header-area wow fadeInDown header-absolate" id="nav" data-0="position:fixed;" data-top-top="position:fixed;top:0;" data-edge-strategy="set">
    <div class="container">
        <div class="row">
            <div class="col-4 d-block d-lg-none">
                <div class="mobile-menu"></div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="logo-area">
                    <a href="#"><img src="images/index/logo-top.png" alt=""></a>
                </div>
            </div>
            <div class="col-4 col-lg-8 d-none d-lg-block">
                <div class="main-menu text-center">
                    <nav>
                        <ul id="slick-nav">
                            <li><a class="scroll" href="#home">home</a>
                                <ul>
                                    <li><a href="index.html">首页</a></li>
                                    <li><a href="http://localhost:8081/">转账</a></li>
                                    <li><a href="/goodsIndex">网上商城</a></li>
                                    <li><a href="">存款</a></li>
                                    <li><a href="">借款</a></li>
                                    <li><a href="">绑定账户</a></li>
                                </ul>
                            </li>
                            <li><a class="scroll" href="#about">About</a>
                            </li>
                            <li><a class="scroll" href="http://localhost:8081/">转账</a></li>
                            <li><a class="scroll" href="/goodsIndex">网上商城</a></li>
                            <li><a class="scroll" href="#roadmap">存款</a></li>
                            <li><a class="scroll" href="#team">借款</a></li>
                            <li><a class="scroll" href="#apps">绑定账户</a></li>
                            <li><a class="scroll" href="#faq">FAQ</a></li>
                            <li><a class="scroll" href="#">聊天</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!--                登录-->
            <div class="col-4 col-lg-2 text-right">
                <a th:if="${logined}" href="/login" class="logibtn gradient-btn">login</a>
                <div th:if="${!logined}" id="name" class="dropdown btn-group">
                    <!--                        <a class="logibtn gradient-btn" href="#" th:text="${username}" ></a>-->
                    <!--                        <ul style="display: none" id="userList">-->
                    <!--                            <li><a href="/userInfo">用户中心</a></li>-->
                    <!--                            <li><a href="/logout">注销</a></li>-->
                    <!--                        </ul>-->
                    <button type="button" class="btn btn-info" th:text="${username}"></button>
                    <button id="dLabel" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><h6><a th:href="${'/user/'+username}">用户中心</a></h6></li>
                        <li><h6><a href="/logout">注销</a></h6></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!--header area end-->

<div class="page" id ="app">
    <div id="mallPage" class=" mallist tmall- page-not-market ">

        <!-- 头部搜索 -->
        <div id="header" class=" header-list-app">
            <div class="headerLayout">
                <div class="headerCon ">
                    <!-- Logo-->
                    <h1 id="mallLogo">
                        <img th:src="@{/images/logo.jpg}" alt="">
                    </h1>

                    <div class="header-extra">

                        <!--搜索-->
                        <div id="mallSearch" class="mall-search">
                            <form name="searchTop" class="mallSearch-form clearfix">
                                <fieldset>
                                    <legend>E-wallet搜索</legend>
                                    <div class="mallSearch-input clearfix">
                                        <div class="s-combobox" id="s-combobox-685">
                                            <div class="s-combobox-input-wrap">
                                                <input v-model="keyword" type="text" autocomplete="off" value="dd" id="mq"
                                                       class="s-combobox-input" aria-haspopup="true">
                                            </div>
                                        </div>
                                        <button type="submit" @click.prevent="searchKey" id="searchbtn">搜索</button>
                                    </div>
                                </fieldset>
                            </form>
                            <ul class="relKeyTop">
                                <li><a @click.prevent="searchKey2('java')" >java</a></li>
                                <li><a @click.prevent="searchKey2('前端')">前端</a></li>
                                <li><a @click.prevent="searchKey2('linux')">Linux</a></li>
                                <li><a @click.prevent="searchKey2('大数据')">大数据</a></li>
                                <li><a @click.prevent="searchKey2('理财')">理财</a></li>
                                <li><a @click.prevent="searchKey2('机器学习')">机器学习</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 商品详情页面 -->
        <div id="content">
            <div class="main">
                <!-- 品牌分类 -->
                <form class="navAttrsForm">
                    <div class="attrs j_NavAttrs" style="display:block">
                        <div class="brandAttr j_nav_brand">
                            <div class="j_Brand attr">
                                <div class="attrKey">
                                    品牌
                                </div>
                                <div class="attrValues">
                                    <ul class="av-collapse row-2">
                                        <li><a href="#"> E-Wallet </a></li>
                                        <li><a href="#"> Java </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- 排序规则 -->
                <div class="filter clearfix">
                    <a class="fSort fSort-cur">综合<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort">人气<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort">新品<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort">销量<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click.prevent="sortGood">价格<i class="f-ico-triangle-mt"></i><i class="f-ico-triangle-mb"></i></a>
                </div>

                <!-- 商品详情 -->
                <div class="view grid-nosku">

                    <div class="product" v-for = "result in results">
                        <div class="product-iWrap">
                            <!--商品封面-->
                            <div class="productImg-wrap">
                                <a class="productImg" :href="'/payinit/'+result.oldtitle+'/'+result.price">
                                    <img :src="result.img">
                                </a>
                            </div>
                            <!--价格-->
                            <p class="productPrice">
                                <em><b>¥</b>{{result.price}}</em>
                            </p>
                            <!--标题-->
                            <p class="productTitle">
                                <a v-html="result.title">  </a>
                            </p>
                            <!-- 店铺名 -->
                            <div class="productShop">
                                <span>店铺： E-wallet </span>
                            </div>
                            <!-- 成交信息 -->
                            <p class="productStatus">
                                <span>月成交<em>999笔</em></span>
                                <span>评价 <a>3</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- 前端使用vue -->

<script th:src="@{js/axios.min.js}"></script>
<script th:src="@{js/vue.min.js}"></script>
<script>

    new Vue({
            //  绑定元素
            el:"#app",
            data:{
                keyword:'',
                aKeyword:'',
                results:[],//搜索的结果
            },
            methods:{
                searchKey(){
                    var keyword = this.keyword;
                    console.log(keyword);

                    axios.get('search/'+keyword+"/1").then(response=>{
                        console.log(response.data);
                    this.results = response.data; //数据获得成功 vue双向绑定

                })
                },
                searchKey2(val){

                    axios.get('search/'+val+"/1").then(response=>{
                        console.log(response.data);
                        this.results = response.data; //数据获得成功 vue双向绑定

                    })
                },



                sortGood(){

                    //写法二
                    function sortData(a, b) {
                        //console.log(b.price);
                        return b.price - a.price;
                    }
                    this.results.sort(sortData);

                }



            },
        created(){
                this.searchKey2("书")
        }
        }

    )
</script>




</body>
</html>