<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Transaction</title>

	<link rel="stylesheet" th:href="@{/css/style.css}"/>
	<script th:src="@{/js/jquery.min.js}"></script>
<!--	<link rel="stylesheet" href="css/bootstrap.min.css">-->
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<script src="js/bootstrap.min.js"></script>
<!--	<style type="text/css">-->
<!--		.a{-->
<!--			/*右对齐*/-->
<!--			display: inline-block;-->
<!--			float: left;-->
<!--			width: 300px;-->
<!--			height: 40px;-->
<!--			text-align: left;-->
<!--			margin-left: 15em;-->
<!--		}-->
<!--	</style>-->

	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link th:href="@{/css/dashboard.css}" rel="stylesheet">
	<style type="text/css">
		/* Chart.js */
		.a{
			margin-left: 15em;
		}
		@-webkit-keyframes chartjs-render-animation {
			from {
				opacity: 0.99
			}
			to {
				opacity: 1
			}
		}

		@keyframes chartjs-render-animation {
			from {
				opacity: 0.99
			}
			to {
				opacity: 1
			}
		}

		.chartjs-render-monitor {
			-webkit-animation: chartjs-render-animation 0.001s;
			animation: chartjs-render-animation 0.001s;
		}
	</style>
</head>

<body>
	<div>
		<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<img alt="Brand" th:src="@{/images/logo.png}">
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/">首页</a></li>
						<li><a href="/goodsIndex">网上商城</a></li>
						<li><a href="/trans">转账</a></li>
						<li><a href="/settlement">清算</a></li>
						<li><a href="/withdraw">提现</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								Signed in as <span th:text="${username}"></span><span class="caret" ></span>
							</a>
							<ul class="dropdown-menu">
								<li><a th:href="${'/user/'+username}">用户中心</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/logout">注销</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container-fluid">
		<div class="row">
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<form th:action="@{/trans/transpd}" method="post" class="a">
					<div class="form-group">
						<p>付款ID:
							<input style="width: 150px" required="required" name="transfer_pay_id" class="form-control" th:value="${payid}" readonly>
						</p>
						<br>
						<p><span style="color:red;">* </span>
							汇款金额：
							<input style="width: 150px" required="required" name="transfer_amount" class="form-control" placeholder="请输入汇款金额">
						</p>
						<p style="color:red" th:text="${msgBalance}" th:if="${not #strings.isEmpty(msgBalance)}"></p>
						<br>
						<p><span style="color:red;">* </span>
							付款方式：
							<select name="transfer_pay_type">
								<option value=3>零钱</option>
								<option value=1>中国工商银行</option>
								<option value=5>中国建设银行</option>
								<option value=4>中国农业银行</option>
								<option value=6>中国银行</option>
							</select>
						</p>
						<br>
						<p><span style="color:red;">* </span>
							收款人ID：
							<input style="width: 150px" required="required" name="transfer_target_id" class="form-control" placeholder="请输入对方钱包的ID">
						</p>
						<p style="color:#ff0000" th:text="${msgAccount}" th:if="${not #strings.isEmpty(msgAccount)}"></p>
						<br>
						<p>
							收款方式：
							<select name="transfer_target_type" style="width: 110px">
								<option value=3>零钱</option>
							</select>
							<br/>
							<small><span style="color:black;">* </span>只能转入对方零钱中</small>
						</p>
						<br/>
						<p>
							转账附言：
							<textarea style="width: 300px" rows="4" placeholder="请输入附言" class="form-control" name="transfer_description" ></textarea>
						</p>
						<br>
						<button type="submit" class="btn btn-success">下一步</button>
					</div>
				</form>
			</main>
		</div>
	</div>

	<!-- Graphs -->
	<script type="text/javascript" th:src="@{/js/Chart.min.js}"></script>
	<script>
		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
				datasets: [{
					data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
					lineTension: 0,
					backgroundColor: 'transparent',
					borderColor: '#007bff',
					borderWidth: 4,
					pointBackgroundColor: '#007bff'
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: false
						}
					}]
				},
				legend: {
					display: false,
				}
			}
		});
	</script>
</body>

</html>