<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery-3.5.0.min.js"></script>
    <script src="js/userInfo/userInfo.js"></script>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="css/login/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/login/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/login/font.css" rel="stylesheet">
</head>
<body>
<div class="w3layouts-main">
    <div class="bg-layer">
        <h1>User Info</h1>
        <div class="header-main">
            <div class="header-left-bottom">
                <span class="fa">ID：</span>
                <div class="icon1" >
                    <input type="text" id="id" th:placeholder="${userInfo.customer_id}" disabled>
                </div>

                <span class="fa">用户名：</span>
                <div class="icon1">
                    <input type="text" id="username" th:placeholder="${userInfo.customer_username}" disabled>
                </div>

                <span class="fa">姓名：</span>
                <div class="icon1">
                    <input type="text" id="name" th:placeholder="${userInfo.customer_name}" disabled>
                </div>

                <span class="fa">年龄：</span>
                <div class="icon1">
                    <input type="text" id="age" th:placeholder="${userInfo.customer_age}" disabled>
                </div>

                <span class="fa">性别：</span>
                <div class="icon1">
                    <input type="text" id="sex" th:placeholder="${userInfo.customer_sex}" disabled>
                </div>

                <span class="fa">手机号：</span>
                <div class="icon1">
                    <input type="text" id="mobile" th:placeholder="${userInfo.customer_mobile}" disabled>
                </div>

                <span class="fa">邮箱：</span>
                <div class="icon1">
                    <input type="text" id="email" th:placeholder="${userInfo.customer_email}" disabled>
                </div>

                <span class="fa">地址：</span>
                <div class="icon1">
                    <input type="text" id="address" th:placeholder="${userInfo.customer_address}" disabled>
                </div>

                <span class="fa">出生日期：</span>
                <div class="icon1">
                    <input type="text" id="date" th:value="${userInfo.customer_date}" disabled>
                </div>

                <div class="bottom">
                    <button class="btn" id="update">修改</button>
                    <button class="btn" id="save" style="display:none">保存</button>
                    <button class="btn" id="cancel" style="display:none">取消</button>
                    <button class="btn" id="back">返回</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>