<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <frame-options policy="SAMEORIGIN" />
<title>E-Wallet个人中心</title>
<link th:href="@{/css/user/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/user/materialdesignicons.min.css}" rel="stylesheet">
<link th:href="@{/css/user/style.min.css}" rel="stylesheet">
<link th:href="@{/css/user/guide.css}" rel="stylesheet">
</head>
  
<body>
<div class="lyear-layout-web" id="app">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar">
      
      <!-- logo -->
      <div id="logo" class="sidebar-header">
        <a @click.prevent="comName=''" href="javascript:void(0)"><img th:src="@{/images/logo.jpg}" title="EWallet" alt="EWallet" /></a>
      </div>
      <div class="lyear-layout-sidebar-scroll"> 
        
        <nav class="sidebar-main">
          <ul class="nav nav-drawer">
            <li class="nav-item"> <a href="javascript:void(0)" @click.prevent="comName='userInfo'"><i class="mdi mdi-home"></i> 个人信息</a> </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-format-align-justify"></i> 账户管理</a>
              <ul class="nav nav-subnav">
                <li> <a @click.prevent="comName='cardBind'">银行卡绑定</a> </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-format-align-justify"></i> 查询</a>
              <ul class="nav nav-subnav">
                <li> <a @click.prevent="comName='bill'">账单</a> </li>
              </ul>
            </li>
          </ul>
        </nav>
        
        <div class="sidebar-footer">
          <p class="copyright">Copyright &copy; 2020. All rights reserved. <a target="_blank">E-Wallet</a></p>
        </div>
      </div>
      
    </aside>
    <!--End 左侧导航-->
    
    <!--头部信息-->
    <header class="lyear-layout-header">
      
      <nav class="navbar navbar-default">
        <div class="topbar">
          
          <div class="topbar-left">
            <div class="lyear-aside-toggler">
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
            </div>
              <span class="navbar-page-title">
                  个人中心
                  <span v-if="comName=='userInfo'"> - 个人信息</span>
                  <span v-else-if="comName=='cardBind'"> - 银行卡绑定</span>
              </span>
          </div>
          
          <ul class="topbar-right">
            <li class="dropdown dropdown-profile">
              <a href="javascript:void(0)" data-toggle="dropdown" id="username">
                <img class="img-avatar img-avatar-48 m-r-10" th:src="@{/images/logo.jpg}" alt="EWallet" />
                <span th:text="${username}"> <span class="caret"></span></span>

              </a>
              <ul class="dropdown-menu dropdown-menu-right">
<!--                <li> <a href="lyear_pages_profile.html"><i class="mdi mdi-account"></i> 个人信息</a> </li>-->
                <li> <a href="#"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                <li class="divider"></li>
                <li> <a href="/"><i class="mdi mdi-lock-outline"></i> 返回首页</a> </li>
                <li class="divider"></li>
                <li> <a href="/logout"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
              </ul>
            </li>
            <!--切换主题配色-->
		    <li class="dropdown dropdown-skin">
			  <span data-toggle="dropdown" class="icon-palette"><i class="mdi mdi-palette"></i></span>
			  <ul class="dropdown-menu dropdown-menu-right" data-stopPropagation="true">
                <li class="drop-title"><p>主题</p></li>
                <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="site_theme" value="default" id="site_theme_1" checked>
                    <label for="site_theme_1"></label>
                  </span>
                  <span>
                    <input type="radio" name="site_theme" value="dark" id="site_theme_2">
                    <label for="site_theme_2"></label>
                  </span>
                </li>
			  </ul>
			</li>
            <!--切换主题配色-->
          </ul>
          
        </div>
      </nav>
      
    </header>
    <!--End 头部信息-->


    <main class="lyear-layout-content" id="components">
<!--      放置组件的位置-->
        <component :is="comName"></component>

    </main>

  </div>
</div>
<script th:src="@{/js/axios.min.js}" type="application/javascript"></script>
<script th:src="@{/js/vue.min.js}" type="application/javascript"></script>
<script th:src="@{/js/user/guide.umd.js}"></script>
<script th:src="@{/js/user/user.js}" type="application/javascript"></script>
<script type="text/javascript" th:src="@{/js/user/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/user/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/user/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/js/user/main.min.js}"></script>
<script type="text/javascript" th:src="@{/js/user/jquery.bootstrap.wizard.min.js}"></script>
<!--      个人信息组件-->
<template id="userInfoTem">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <hr>
            <form method="post" class="site-form">
              <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" v-bind:value="username" disabled="disabled" />
              </div>
              <div class="form-group">
                <label for="name">姓名</label>
                <input type="text" class="form-control" v-bind:value="name" disabled="disabled" />
              </div>
              <div class="form-group">
                <label for="mobile">手机号</label>
                <input type="text" class="form-control" id="mobile" v-bind:value="mobile" v-bind:disabled="disable" />
              </div>
              <div class="form-group">
                <label for="email">邮箱</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="请输入正确的邮箱地址" v-bind:value="email" v-bind:disabled="disable">
                <small id="emailHelp" class="form-text text-muted">请保证您填写的邮箱地址是正确的。</small>
              </div>
              <div class="form-group">
                <label for="address">地址</label>
                <textarea class="form-control" id="address" rows="2" v-bind:value="address" v-bind:disabled="disable"></textarea>
              </div>
              <button type="button" class="btn btn-primary" id="update" v-on:click="changeBtn" v-bind:disabled="!disable">修改</button>
              <button type="button" class="btn btn-primary" id="save" v-bind:disabled="disable" data-toggle="modal" data-target="#myModal">保存</button>

              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">确认</h4>
                    </div>
                    <div class="modal-body">
                      请确认信息无误！
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                      <button type="button" class="btn btn-primary" v-on:click="saveBtn" data-dismiss="modal">点击保存</button>
                    </div>
                  </div>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>

    </div>

  </div>
</template>

<template id="bill">
  <iframe th:src="${'/bill/'+payid}" style="width: 1000px;height: 500px"></iframe>
</template>
<!--      -->

<!--银行卡绑定组件-->
<!--<template id="cardBindTem">-->
<!--  <demo></demo>-->
<!--</template>-->
<!---->




</body>
</html>