<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bruceking.clearing.mapper.EntityMapper">
  <resultMap id="BaseResultMap" type="com.bruceking.clearing.pojo.Entity">
    <id column="entity_id" jdbcType="INTEGER" property="entityId" />
    <result column="entity_name" jdbcType="VARCHAR" property="entityName" />
    <result column="entity_balance" jdbcType="DECIMAL" property="entityBalance" />
    <result column="entity_day_position" jdbcType="DECIMAL" property="entityDayPosition" />
    <result column="entity_description" jdbcType="VARCHAR" property="entityDescription" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    entity_id, entity_name, entity_balance, entity_day_position, entity_description
  </sql>
  <select id="selectByExample" parameterType="com.bruceking.clearing.pojo.EntityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from entity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from entity
    where entity_id = #{entityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from entity
    where entity_id = #{entityId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bruceking.clearing.pojo.EntityExample">
    delete from entity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bruceking.clearing.pojo.Entity">
    insert into entity (entity_id, entity_name, entity_balance, 
      entity_day_position, entity_description)
    values (#{entityId,jdbcType=INTEGER}, #{entityName,jdbcType=VARCHAR}, #{entityBalance,jdbcType=DECIMAL}, 
      #{entityDayPosition,jdbcType=DECIMAL}, #{entityDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bruceking.clearing.pojo.Entity">
    insert into entity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="entityId != null">
        entity_id,
      </if>
      <if test="entityName != null">
        entity_name,
      </if>
      <if test="entityBalance != null">
        entity_balance,
      </if>
      <if test="entityDayPosition != null">
        entity_day_position,
      </if>
      <if test="entityDescription != null">
        entity_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="entityId != null">
        #{entityId,jdbcType=INTEGER},
      </if>
      <if test="entityName != null">
        #{entityName,jdbcType=VARCHAR},
      </if>
      <if test="entityBalance != null">
        #{entityBalance,jdbcType=DECIMAL},
      </if>
      <if test="entityDayPosition != null">
        #{entityDayPosition,jdbcType=DECIMAL},
      </if>
      <if test="entityDescription != null">
        #{entityDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bruceking.clearing.pojo.EntityExample" resultType="java.lang.Long">
    select count(*) from entity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update entity
    <set>
      <if test="record.entityId != null">
        entity_id = #{record.entityId,jdbcType=INTEGER},
      </if>
      <if test="record.entityName != null">
        entity_name = #{record.entityName,jdbcType=VARCHAR},
      </if>
      <if test="record.entityBalance != null">
        entity_balance = #{record.entityBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.entityDayPosition != null">
        entity_day_position = #{record.entityDayPosition,jdbcType=DECIMAL},
      </if>
      <if test="record.entityDescription != null">
        entity_description = #{record.entityDescription,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update entity
    set entity_id = #{record.entityId,jdbcType=INTEGER},
      entity_name = #{record.entityName,jdbcType=VARCHAR},
      entity_balance = #{record.entityBalance,jdbcType=DECIMAL},
      entity_day_position = #{record.entityDayPosition,jdbcType=DECIMAL},
      entity_description = #{record.entityDescription,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bruceking.clearing.pojo.Entity">
    update entity
    <set>
      <if test="entityName != null">
        entity_name = #{entityName,jdbcType=VARCHAR},
      </if>
      <if test="entityBalance != null">
        entity_balance = #{entityBalance,jdbcType=DECIMAL},
      </if>
      <if test="entityDayPosition != null">
        entity_day_position = #{entityDayPosition,jdbcType=DECIMAL},
      </if>
      <if test="entityDescription != null">
        entity_description = #{entityDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where entity_id = #{entityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bruceking.clearing.pojo.Entity">
    update entity
    set entity_name = #{entityName,jdbcType=VARCHAR},
      entity_balance = #{entityBalance,jdbcType=DECIMAL},
      entity_day_position = #{entityDayPosition,jdbcType=DECIMAL},
      entity_description = #{entityDescription,jdbcType=VARCHAR}
    where entity_id = #{entityId,jdbcType=INTEGER}
  </update>
</mapper>